<h2 class="subtitle">the app for commuters</h2>

<!-- Short introductory (optional) -->
<h3 class="tagline">
  Find out if there are events that will effect your
  commute
</h3>

<div class="btn btn-default btn-lg">
  {{#link-to "events"}}Show Events{{/link-to}}
</div>



