.Main {
  background: #DCDCDC;
  min-height: 100%;
  background-size: cover;
  text-align: center;
}

.container {
  padding: 10px;
}

.event-data {
  text-align: center;
}
.title {
  padding: 10px 40px;
  color: #000000;
  font-family: 'Wire One', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 7em;
  line-height: 1em;
  margin-bottom: 15px;
}
